*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

}
.logo{
    width: 100px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

button{
    position: relative;
    border: none;
    padding: 10px 30px;
    background: transparent;
    margin: 0 15px;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #003);

}
button:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.25s;
}
button:hover:before{
    width: 100%;
    height: 100%;
}
button:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.25s;
}
button:hover:after{
    width: 100%;
    height: 100%;
}
a:nth-child(1){
    filter: hue-rotate(90deg);
}


button:hover{
    background: #21ebff;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.25s;
}
.social img{
    width: 50px;
    cursor: pointer;
}
.social{
    position: fixed;
    top: 94%;
    left: 91%;
}
button2{
    position: relative;
    border: none;
    padding: 10px 10px;
    background: transparent;
    margin: 0 10px;
    color: #21ebff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 40px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}
button2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.25s;
}
button2:hover:before{
    width: 100%;
    height: 100%;
}
button2:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
    transition-delay: 0.25s;
}
button2:hover:after{
    width: 100%;
    height: 100%;
}
a:nth-child(1){
    filter: hue-rotate(115deg);
}


button2:hover{
    background: #21ebff;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.25s;
}
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
.bubbles img{
    width: 50px;
    animation: bubbles 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubbles{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}


.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 4.5s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 6s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 33s;
    width: 20px;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 15px;
}